.background-testimonios {
    background-image: linear-gradient( 0deg, rgba(0,0,0,.6),  rgba(0,0,0,.6)), url(../assets/malvinas-testimonios.jpg);;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x:hidden;
    object-fit: cover;
    height: 90vh;
    width: 100vw;

    .main-testimonios {
        height: 70vh;
        width: 100vw;
        color: $color-secundario;
    
        .container-testimonios {
            @include props-flex(row,center,center);
                flex-wrap: wrap;
                width: 85%;
                margin: 10px auto;
                
                
                section {
                    @include props-flex(column,center,center); 
                    flex-wrap: wrap;
                    margin-bottom: 60px;
                    text-align: center;
                    
                    
                }
                
                section h1,h2,p {
                    font-family: 'Roboto Slab', serif;
                }
                .s h1{
                    padding: 0 0 5px 0;
                    font-size: 1.8em;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                .s p {
                    font-size: 1.3em;
                    text-align: center;
                    font-weight: 500;
                    margin-bottom: 4px;
                }
    
                .s {
                    text-align: center;
                    iframe {
                        height: 14.75em;
                        width: 16.875em;
                    }
                    h2 {
                        margin-bottom: 5px;
                    }
                    p {
                        margin-bottom: 15px;
                        font-weight: 500;
                    }
                }
        }
    }
}

