

@media (max-width:700px) and (min-width: 426px) {
  .background-5 {
    
    .contacto {
      margin-top: 60px;
      form {
        margin-top: 40px;
        fieldset {
          height: 250px;
          width: 250px; /*  */

          legend {
            font-size: 1.5em; /*  */
          }
          h4 {
            font-weight: 300; /*  */
            font-size: 16px; /*  */
          }
          .controls,
          textarea {
            border: 0;
            outline: none;
            width: 220px; /*  */
            border: solid 1px #ccc;
            padding: 4px; /*  */
            font-size: 0.9em; /*  */
          }

          .botoninput {
            padding: 6px 6px; /*  */
          }
        }

        padding: 20px; /*  */
        margin: 0 auto;
        width: 250px; /*  */
        font-size: 1em; /*  */
      }
    }
  }
}

@media (max-width:900px) and (min-width: 701px) {
  .background-5 {
    
    .contacto {
      margin-top: 50px;
      form {
        margin-top: 40px;
        fieldset {
          height: 300px;
          width: 300px; /*  */

          legend {
            font-size: 1.8em; /*  */
          }
          h4 {
            font-weight: 500; /*  */
            font-size: 20px; /*  */
          }
          .controls,
          textarea {
            border: 0;
            outline: none;
            width: 250px; /*  */
            border: solid 1px #ccc;
            padding: 8px; /*  */
            font-size: 1.1em; /*  */
          }

          .botoninput {
            padding: 8px 8px; /*  */
          }
        }

        padding: 30px; /*  */
        margin: 0 auto;
        width: 300px; /*  */
        font-size: 1em; /*  */
      }
    }
  }
}

@media (max-width:700px) and (min-width: 426px) {
  .background-5 {
    
    .contacto {
      margin-top: 60px;
      form {
        margin-top: 40px;
        fieldset {
          height: 250px;
          width: 250px; /*  */

          legend {
            font-size: 1.5em; /*  */
          }
          h4 {
            font-weight: 300; /*  */
            font-size: 16px; /*  */
          }
          .controls,
          textarea {
            border: 0;
            outline: none;
            width: 220px; /*  */
            border: solid 1px #ccc;
            padding: 4px; /*  */
            font-size: 0.9em; /*  */
          }

          .botoninput {
            padding: 6px 6px; /*  */
          }
        }

        padding: 20px; /*  */
        margin: 0 auto;
        width: 250px; /*  */
        font-size: 1em; /*  */
      }
    }
  }
}

@media (max-width:1500px) and (min-width: 901px) {
  .background-5 {
    
    .contacto {
      margin-top: 25px;
      form {
        margin-top: 40px;
        fieldset {
          height: 300px;
          width: 300px; /*  */

          legend {
            font-size: 1.8em; /*  */
          }
          h4 {
            font-weight: 500; /*  */
            font-size: 20px; /*  */
          }
          .controls,
          textarea {
            border: 0;
            outline: none;
            width: 250px; /*  */
            border: solid 1px #ccc;
            padding: 8px; /*  */
            font-size: 1.1em; /*  */
          }

          .botoninput {
            padding: 8px 8px; /*  */
          }
        }

        padding: 30px; /*  */
        margin: 0 auto;
        width: 300px; /*  */
        font-size: 1em; /*  */
      }
    }
  }
}
