@media  (min-width:427px) and (max-width:536px){
    .container-imagenes {
        width: 90%;

        .imagen {
            
            .overlay {
                p {
                    font-size: 1.2em;
                }
            }
           }
        
    }
}

@media  (min-width:535px) and (max-width:590px){
    .container-imagenes {
        width: 80%;

        .imagen {
            
            .overlay {
                p {
                    font-size: 1.2em;
                }
            }
           }
        
    }
}

@media  (min-width:555px) and (max-width:590px){
    .container-imagenes {
        width: 75%;

        .imagen {
            
            .overlay {
                p {
                    font-size: 1.2em;
                }
            }
           }
        
    }
}

@media  (min-width:589px) and (max-width:595px){
    .container-imagenes {
        width: 75%;

        .imagen {
            
            .overlay {
                p {
                    font-size: 1.2em;
                }
            }
           }
        
    }
}

@media  (min-width:595px) and (max-width:660px){
    .container-imagenes {
        width: 70%;

        .imagen {
            
            .overlay {
                p {
                    font-size: 1.2em;
                }
            }
           }
        
    }
}

@media  (min-width:661px) and (max-width:724px){
    .container-imagenes {
        width: 65%;

        .imagen {
            
            .overlay {
                p {
                    font-size: 1.2em;
                }
            }
           }
        
    }
}

@media  (min-width:723px) and (max-width:800px){
    .container-imagenes {
        width: 60%;

        .imagen {
            
            .overlay {
                p {
                    font-size: 1.2em;
                }
            }
           }
        
    }
}

@media  (min-width:801px) and (max-width:900px){
    .container-imagenes {
        width: 55%;

        .imagen {
            
            .overlay {
                p {
                    font-size: 1.3em;
                }
            }
           }
        
    }
}
@media  (min-width:901px) and (max-width:1400px){
    .container-imagenes {
        width: 50%;

       .imagen {
        height: 350px;
        .overlay {
            p {
                font-size: 1.6em;
            }
        }
       }

        
    }
}

